{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Survey
{% endblock %}

{% block content %}

    <p>
        Please answer the following questions.
    </p>

    {% formfield player.q_country %}
    {% formfield player.q_age %}
    {% formfield player.q_gender %}

    {% next_button %}

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        var slider_changed = false;

        $("#id_q_age").change(function(e) {
            slider_changed = true;
        });

        function sort(a, b) {
            return (a.innerHTML > b.innerHTML) ? 1 : -1;
        }
        $('#id_q_country option').sort(sort).appendTo('#id_q_country');

        $( "#form" ).submit(function( event ) {
            if (!slider_changed) {
                alert( "Please change the slider value." );
                event.preventDefault();
            }
        });
    </script>

{% endblock %}
